{% extends "search-manager/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Interface Settings"|t('search-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set crumbs = [
    {
        label: searchHelper.fullName|t('search-manager'),
        url: url('search-manager'),
    },
    {
        label: 'Settings'|t('search-manager'),
        url: url('search-manager/settings'),
    },
    {
        label: 'Interface'|t('search-manager'),
        url: url('search-manager/settings/interface'),
    },
] %}

{% block actionButton %}
	<div class="btngroup">
		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
	</div>
{% endblock %}

{% block content %}

	{{ actionInput('search-manager/settings/save') }}
	{{ redirectInput('search-manager/settings/interface') }}
	{{ hiddenInput('section', 'interface') }}

		<h2 class="first">{{ "Interface Settings"|t('search-manager') }}</h2>

		{% include 'lindemannrock-base/_partials/field-items-per-page' with {
		    settings: settings,
		    pluginHandle: 'search-manager',
		} only %}

		<hr>

		{% include 'lindemannrock-base/_partials/cascade-base-overrides' with {
		    settings: settings,
		    pluginHandle: 'search-manager',
		    sections: {
		        dateFormat: {},
		        dateRange: {},
		        exports: {},
		    },
		} only %}

	{% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
